<!DOCTYPE html>
<html>
<head>
  <title>Whispering Gallery</title>
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>
<body>
  <div class="container">
    <h1>About the Whispering Gallery</h1>
    <p>This is being alone, together. Anything you type will pulse
    the screen of everyone here, but the only ones who get to read it
    are those watching exactly one hour later. This is about solitary, intimate
    space, about whispering down the well, about the secret knots with which
    the world is bound.</p>
    <p>Created by <a href="https://twitter.com/M_W_Alexander">Michael Alexander</a>
    using Sinatra, Websockets and Redis.</p>
    <p>Github repo: <a href="https://www.github.com/betweenparentheses/whispering_gallery">here</a></p>
  </div>
</body>
</html>

