<header>
  <div id="whisper">
  <label for="words">
    <input type="text" name="words" id="words" placeholder="Whisper into the future...">
    <button id="whisper-submit">Say Something Later</button>
  </label>
  </div>
</header>

<main id = "gallery">
</main>