<header>
  <form id="whisper">
    <input type="text" name="words" id="words" placeholder="Whisper into the future...">
    <input type="submit" id="whisper-submit" value = "Say Something Later">
  </div>
</header>

<main id = "gallery">

</main>