<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
</head>
<body>


<%= yield %>
<a id="about-link" href="/about">about</a>
</body>
<script type="text/javascript" src="js/app.js"></script>
</html>

