<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>
<body>


<%= yield %>

</body>
<script type="text/javascript" src="js/app.js"></script>
</html>

